* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #EEEEEE;
}
.main {
    margin-top:80px;
    margin-left:0;
    height:85vh;
    width:80vw;
}
.out-block {
    height:33%;
    background: url("../img/cover/bg2.png");
}
.logo-txt {
    float:left;
    display:block;
    font-size:50px;
    margin-top:20px;
    color:#D7EDFD;
    font-family: "STKaiti"
}
#txt-1{
    margin-left: 40px;
}
#txt-2 {
    margin-top:100px;
    margin-left:40px;
}
.one-block {
    width:20%;
    height:100%;
}
.one-block img{
    width:100%;
    height:100%;
}
.block-txt {
    font-size:40px;
    line-height:230px;
    color:white;
    text-align:center;
    cursor:pointer;
}

#top .one-block {
    margin-left:60%;
}

#mid {
    display:flex;
    flex-direction: row;
}
#three-div {
    background:#108294;

}
#five-div {
    background:#F7AA21;
}
#seven-div {
    background: #5251AD;
}
#bottom .one-block{
    margin-left:40%;
}